 body {
    max-width: 61%;
}   

.row {
   padding: 0;
    margin: 0;
    max-height: 100%;
   }

img {
   width: 100%;
   }

.imgsize {
width: 100%;
}

.container {
    padding: 0px;
   border: 12px outset #f5f5f5;
   background: #E1F0EB;
   width: auto;
   }

.flex-container {
   display: -webkit-flex; /* Safari */
   display: flex;
   }

.glyphicon {
   color: #99A3A0;
   font-size: 110px;
   padding-left: 50px;
   }

p {
   text-align: center;
   font-size: 35px;
   }
.p1 {
   text-align:center;
   font-size: 35px;
   }

.color1 {
   color: #02b3e4;
   }

.color2 {
   color: #2d3c49
   }

.color3 {
   color: #7d97ad;
   }

a {
font-size:60%;
}
